@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    @apply font-[Inter] bg-[#0a192f] text-gray-300;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-['Space_Mono'];
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-[#0a192f];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#1a3c6d] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#64ffda];
}
